<footer class="footer">
  <div>
    <h5 class="h5 semibold font-size-20">Tienda</h5>
    <nav>
      <ul class="list font-size-14">
        <li>
          <a href="https://www.adalab.es" target="_blank">Productos</a>
        </li>
        <li>
          <a href="https://www.adalab.es" target="_blank">Cajoneras</a>
        </li>
        <li>
          <a href="https://www.adalab.es" target="_blank">Para toda la casa</a>
        </li>
        <li>
          <a href="https://www.adalab.es" target="_blank">Habitaciones</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <h5 class="h5 semibold font-size-20">Nosotros</h5>
    <nav>
      <ul class="list font-size-14">
        <li>
          <a href="https://www.adalab.es" target="_blank">Nuestra Guía</a>
        </li>
        <li>
          <a href="https://www.adalab.es" target="_blank">Nuestro diseño</a>
        </li>
        <li>
          <a href="https://www.adalab.es" target="_blank">Nuestra historia</a>
        </li>
        <li><a href="https://www.adalab.es" target="_blank">Ayuda</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <h5 class="h5 semibold font-size-20">Contacto</h5>
    <nav>
      <ul class="list font-size-14">
        <li>
          <a href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a>
        </li>
        <li>Socios</li>
      </ul>
    </nav>
    <div class="social">
      <i class="fa-brands fa-linkedin-in font-size-24"></i>
      <i class="fa-brands fa-instagram font-size-24"></i>
      <i class="fa-brands fa-twitter font-size-24"></i>
    </div>
  </div>
</footer>
<a class="scroll-up animation" href="#main">
  <i class="fa-solid fa-arrow-up"></i>
</a>
